/* components/ImageCard.module.css */

.imageContainer {
    width: 100%;
    aspect-ratio: 4 / 3; /* 4:3 비율 */
    overflow: hidden;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 컨테이너에 맞게 조정되면서 잘리도록 */
    object-position: center; /* 이미지를 가운데로 위치 */
    position: absolute;
    top: 0;
    left: 0;
}
